#add-character-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(203, 203, 203);
}

#add-character-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 60%;
}

#add-character-page input {
    padding: 8px;
    border-radius: 8px;
}

#add-character-page button {
    width: 200px;
}